PORT=3000
API_PREFIX=/api
DB_CLIENT=sqlite3
SQLITE_FILENAME=./backend/data/copamoda.sqlite3
# Para MySQL: DB_CLIENT=mysql2, MYSQL_HOST, MYSQL_PORT, MYSQL_USER, MYSQL_PASSWORD, MYSQL_DATABASE
VITE_API_URL=http://localhost:3000/api
